<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Reference point on the ground -->
    <link name="base_footprint" />

    <!-- Base body (blue box) -->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.2 0.2 0.2" />
            </geometry>
            <material name="blue">
                <color rgba="0.0 0.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.2 0.2 0.2" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1" />
            <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0" />
        </inertial>
    </link>

    <joint name="base_footprint_to_base_link" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0 0 0.1" rpy="0 0 0" />
    </joint>

</robot> 