<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="template_robot">

  <xacro:include filename="$(find robot_description)/urdf/robot_arguments.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/blue_box.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/green_box.xacro" />
  
</robot>